  <form method="post" action="http://10.31.1.29:8080/poei-1/renamefile">
  <input type="hidden" name="filename" value='{{file.nom}}' />
  <input type="hidden" name="extension" value='{{file.extension}}' />
  <input type="text" placeholder='{{file.placeholder}}' name="newfilename"/>  {{file.extension}} <br>
    <button type="submit">Renommer</button>
    <input type="hidden" name="filename" value='{{file.nom}}' />
    <button type="submit" formaction="http://10.31.1.29:8080/poei-1/deletefile">Supprimer</button>
    <div>{{message}}</div>
</form>



