
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">



</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <h1>Fichiers</h1>
  <button (click)="setOnglet(2)">Base de données</button>
  <button (click)="setOnglet(3)">Dropbox</button>
  <div class="content">
    <ul *ngFor="let file of files | async">
      <li class="file" (click)="onClick(file)">
        {{file.nom}}
      </li>
      <app-util *ngIf="isFileSelected(file)" [file]="file"></app-util>
    </ul>
  </div>
  <app-upload></app-upload>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
